* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Dosis', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(90deg, rgba(3, 179, 248, 0.637)0%, rgba(133, 11, 233, 0.842)100% );
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border: 2px solid #fff;
    padding: 30px 40px;
    width: 40%;
    min-width: 500px;
}

.new-task-container {
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.6);
    display: flex;
}

.new-task-container input {
    flex: 3;
    font-size: 1rem;
    border: 2px solid #d1d3d4;
    border-radius: 5px;
    padding: 12px;
    font-weight: 500;
}

.new-task-container input:focus {
    outline: none;
    border-color:  rgba(21, 179, 21, 0.808);
}

.new-task-button {
    flex: 1;
    border-radius: 5px;
    font-weight: 500;
    height: 100%;
    font-size: 1rem;
    border: none;
    background-color: rgba(21, 179, 21, 0.808);
    color: #fff;
    padding: 12px;
    margin-left: 12px;
    cursor: pointer;
}

.tasks-container {
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.6);
    width: 100%;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: ;
}

/* Utilities */
.error {
    border: 2px solid red !important;
}

.error::placeholder {
    color: red;
}